.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background-color: #d9d1d1;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 150px 15px;
  margin: 5rem 15rem;
  max-width: 70%;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.yourBirthday {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2rem;
  gap: 15px;    
  margin-bottom: 20px;
}

.yourBirthday label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  color: #33333373;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: -15px;
}

.yourBirthday input {

  font-weight: bold;
  margin-top: 0.5rem;
  border: 2px solid rgb(207, 207, 222);
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 0.5rem;
  width: 300px;
  height: 4rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  max-width: 15rem; 

}

input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
  width: 125px;
  box-sizing:border-box;
}

.error {
  border-color: red;
  border: red;
  font-size: 12px;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

.error-message.empty-input,
.error-message.invalid-date {
  margin-top: 0.25rem;
}


label.error {
  color: red;
}

input.error {
  border-color: red;
}

.button-divider-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Adjust if necessary */
  margin-bottom: 20px;
}

.divider {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 20px 0 0; /* Adjust if necessary */
}

button {
  border-radius: 50%;
  background-color: rgb(126, 80, 245);
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}



.result {
  font-size: 40px;
  color: black;
  margin-right: 10rem;
}

.result h1 {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-top: -2rem;
  padding-bottom: -2rem;
}

.age-years, .age-months, .age-days {
  color: rgb(126, 80, 245); /* Purple color */
}

.result h1 span {
  margin-right: 1rem; /* или любое другое значение, которое вам нужно */
}